body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ddd;
}

.container {
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    border-color: #4CAF50;
}

h1 {
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-color: #ddd;
}

.navbar li {
    position: relative;
}

.navbar li a, .dropdown .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 10px;
    
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-color: #4CAF50;
}

.home-icon {
    position: absolute;
}

.icon-img {
    width: 30px;
    height: 30px;
}

.navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 1;
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
    opacity: 1;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.icon:hover {
    background-color: #f0f0f0;
    border-color: #4CAF50;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    
}

.link:hover {
    background-color: #f0f0f0;
    border-color: #4CAF50;
}
